@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0f0f0f;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family:
    "Inter",
    "SF Pro Display",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
